:root{
	--cc-ifm-bg: #0b1016;
	--cc-ifm-bg-gradient-start: rgba(30,56,97,1);
	--cc-ifm-bg-gradient-end: rgba(206,220,233,0.1181022750897234);

	--cc-ifm-color: #fff;
	--cc-ifm-link-color: #5fb3fb;
	--cc-ifm-iframe-bg-color: #000;

	--cc-ifm-btn-primary-bg: rgba(0, 102, 219, 0.84);
	--cc-ifm-btn-primary-bg-hover: rgba(9, 80, 161, 0.89);
	--cc-ifm-btn-primary-bg-active: rgba(9, 80, 161, 0.89);
	--cc-ifm-btn-primary-color: #fff;
	--cc-ifm-btn-primary-shadow: rgba(0, 0, 0, 0.19);
	--cc-ifm-btn-primary-shadow-active: rgba(24, 104, 250, .24);

	--cc-ifm-btn-secondary-bg: rgba(225, 239, 255, .8);
	--cc-ifm-btn-secondary-bg-hover: rgba(225, 239, 255, .95);
	--cc-ifm-btn-secondary-bg-active: rgba(225, 239, 255, .6);
	--cc-ifm-btn-secondary-color: #0d1f34;
	--cc-ifm-btn-secondary-shadow: rgba(0, 0, 0, 0.19);
	--cc-ifm-btn-secondary-shadow-active: rgba(0, 0, 0, 0.19);
}

div[data-service] *,
div[data-service] :before,
div[data-service] :after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    font-family: inherit;
	  line-height: 1.2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-transform: none;
    letter-spacing: unset;
    color: inherit;
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    text-align: left;
}

div[data-service] .c-ld {
	bottom: 2em;
    right: 2.5em;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
}

div[data-service] .c-ld,
div[data-service] .c-ld:after{
	position: absolute;
    z-index: 1;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

div[data-service] .c-ld::after{
	content: '';
	border: 4px solid white;
    border-top: 4px solid transparent;
	animation: spin 1s linear infinite;
}

div[data-service].c-h-n .c-ld{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

div[data-service]{
	display: inline-block;
	max-width: 100%;
	min-height: 150px;
	min-width: 300px;
	font-family: inherit;
	position: relative;
	background-color: var(--cc-ifm-bg);
}

div[data-service] button,
div[data-service] label,
div[data-service] input,
div[data-service] h1,
div[data-service] h2,
div[data-service] h3{
	transition: none;
	animation: none;
}

div[data-service]::before{
	padding-top: 56.25%;
	display: block;
	content: "";
}

div[data-autoscale]{
	height: auto;
	width: 100%;
}

div[data-service] .c-nt{
	color: var(--cc-ifm-color);
	max-width: 100%;
	height: 100%;
	width: 100%;
	transition: opacity .3s ease, visibility .3s ease; 
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

div[data-service] .c-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	opacity: .5;
	z-index: 1;
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
}

div[data-service] .c-bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity .3s ease, visibility .3s ease;
	background: var(--cc-ifm-bg-gradient-start);
	background: -moz-linear-gradient(14deg, var(--cc-ifm-bg-gradient-start) 0%, var(--cc-ifm-bg-gradient-end) 100%);
	background: -webkit-linear-gradient(14deg, var(--cc-ifm-bg-gradient-start) 0%, var(--cc-ifm-bg-gradient-end) 100%);
	background: linear-gradient(14deg, var(--cc-ifm-bg-gradient-start) 0%, var(--cc-ifm-bg-gradient-end) 100%);
}

div[data-service] .c-bg-i{
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity .5s ease, transform .5s ease;
}

div[data-service] .c-bg-i.loaded{
	opacity: 1;
}

div[data-service] .c-tl{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
}

div[data-service].c-h-n .c-bg{
	opacity: 1;
	transform: scale(1);
}

div[data-service].c-h-n .c-nt{
	opacity: 0;
	visibility: hidden;
}

div[data-service] .c-n-c{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: .9em;
	transition: background-color .3s ease, opacity .3s ease;
}

div[data-service] .c-n-t{
	display: block;
	font-size: .95em;
	position: relative;
	z-index: 1;
	line-height: 1.4em;
	color: var(--cc-ifm-color);
	max-width: 420px;
	margin: 0 auto;
	margin-bottom: 20px;
}

div[data-service] .c-n-t,
div[data-service] .c-n-a{
	text-align: center;
}

div[data-service] .c-t-cn{
	display: table-cell;
	vertical-align: middle;
	padding: 0 12px;
	transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
}

div[data-service] .c-n-c .c-la-b,
div[data-service] .c-n-c .c-l-b{
    display: inline-block;
    position: relative;
    padding: 1em;
    vertical-align: middle;
    background: var(--cc-ifm-btn-primary-bg);
    border: none;
    border-radius: .25em;
    font-size: .85em;
    padding-left: 2.8em;
    color: var(--cc-ifm-btn-primary-color);
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .3s ease, transform .3s cubic-bezier(0.25, 1, 0.5, 1), visibility .3s ease, box-shadow .3s ease, background-color .3s ease;
    box-shadow: var(--cc-ifm-btn-primary-shadow) 0px 4px 12px;
}
/* Play icon */
div[data-service] .c-n-c .c-l-b::before{
	content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 1.1em;
  z-index: 2;
  height: 0;
  border-left: 12px solid white;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
}

div[data-service] .c-n-c .c-la-b{
  margin-left: 1em;
	padding: 1em;
	background: var(--cc-ifm-btn-secondary-bg);
  color: var(--cc-ifm-btn-secondary-color);
	box-shadow: var(--cc-ifm-btn-secondary-shadow) 0px 4px 12px;
}

div[data-service] .c-n-c .c-la-b:hover{
	background: var(--cc-ifm-btn-secondary-bg-hover);
}

div[data-service] .c-n-c .c-l-b:hover{
	background: var(--cc-ifm-btn-primary-bg-hover);
}

div[data-service] .c-n-c .c-la-b:active{
	transition: none;
	background: var(--cc-ifm-btn-secondary-bg-active);
	box-shadow: 0 0 0 4px var(--cc-ifm-btn-secondary-shadow-active);
}

div[data-service] .c-n-c .c-l-b:active{
	transition: none;
	background: var(--cc-ifm-btn-primary-bg-active);
  box-shadow: 0 0 0 4px var(--cc-ifm-btn-primary-shadow-active);
}

div[data-service].c-h-n .c-t-cn{
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
}

div[data-service] iframe{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
	border: none;
	max-width: 100%;
	width: 100%;
	background: var(--cc-ifm-iframe-bg-color);
	display: block;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	transition: opacity .5s ease;
}

div[data-service].c-h-b iframe{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition-delay: .1s;
}

div[data-service] .c-n-t a {
  color: var(--cc-ifm-link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--cc-ifm-link-color);
}

div[data-service] .c-n-t a:hover{
	border-color: transparent;
}