:root{
  --cc-cookie-category-block-text: var(--cc-block-text);
}

.show--settings body {
  overflow: hidden;
}

.n3tcc-consent-info {
  display: none;
}

.n3tcc-has-consent .n3tcc-consent-info {
  display: block;
}

.cc_div {
  strong {
    font-weight: bold;

    &:hover {
      font-weight: bold;
    }
  }

  .b-bn .exp::before,
  .act .b-bn .exp::before {
    transition: .3s transform;
  }

  .c-bn {
    white-space: nowrap;
  }

  #cm.has-tertiary-button {
    max-width: 30em;
  }

  .b-tg,
  .b-tg .c-tg,
  .b-tg .c-tgl,
  span.t-lb {
    outline: none;
  }

  #s-bl .c-bl.b-ex,
  #s-bl .c-bl.b-ex .p,
  .cc_div .bar #s-bl .c-bl.b-ex td:before {
    color: var(--cc-cookie-category-block-text);
  }

  #s-bl .c-bl:not(.b-ex) {
    transition: none;
    padding: 0;
    margin-top: 0;
    border: none;
    margin-bottom: 2em;

    &:hover {
      background: transparent;
      background: unset;
    }
  }

  @media screen and (max-width: 688px) {
    #s-bl .c-bl.b-ex td:before {
      color: var(--cc-cookie-category-block-text);
    }
  }

  .c-bn-scan {
    color: var(--cc-btn-primary-text);
    background: var(--cc-btn-primary-bg);
  }
}