:root{
  --cc-trigger-icon: var(--cc-btn-primary-bg);
  --cc-trigger-icon-stroke: none;
  --cc-trigger-icon-hover: var(--cc-btn-primary-hover-bg);
  --cc-trigger-icon-hover-stroke: none;
  --cc-trigger-handle-bg: var(--cc-btn-primary-bg);
  --cc-trigger-handle-hover-bg: var(--cc-btn-primary-hover-bg);
  --cc-trigger-handle-text: var(--cc-btn-primary-text);
}

.cc-trigger {
  position: fixed;
  z-index: 999999;
  text-decoration: none;
  display: none;

  &.cc-trigger-icon {
    svg {
      width: 50px;

      path {
        fill: var(--cc-trigger-icon);
        stroke: var(--cc-trigger-icon-stroke);
      }
    }

    &:hover svg path {
      fill: var(--cc-trigger-icon-hover);
      stroke: var(--cc-trigger-icon-hover-stroke);
    }

    span {
      display: none;
    }

    &.cc-trigger-bottom {
      bottom: 1rem;
    }

    &.cc-trigger-top {
      top: 1rem;
    }

    &.cc-trigger-middle {
      top: 50%;
      transform: translateY(-50%);
    }

    &.cc-trigger-left {
      left: 20px;
    }

    &.cc-trigger-right {
      right: 20px;
    }

    &.cc-trigger-center {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.cc-trigger-handle {
    background: var(--cc-trigger-handle-bg);
    color: var(--cc-trigger-handle-text);
    z-index: 10;
    padding: .5rem;
    transition: .3s padding linear;

    svg {
      height: 1rem;
      display: inline-block;
      margin-right: .5rem;

      path {
        fill: var(--cc-trigger-handle-text);
      }
    }

    &:hover {
      background: var(--cc-trigger-handle-hover-bg);
    }

    &.cc-trigger-bottom {
      bottom: 1rem;

      &.cc-trigger-left {
        left: 0;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: left bottom;
        border-radius: 0 0 .5rem .5rem;
      }

      &.cc-trigger-right {
        right: 0;
        transform: rotate(-90deg) translateX(100%);
        transform-origin: right bottom;
        border-radius: .5rem .5rem 0 0;
      }

      &.cc-trigger-center {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: .5rem .5rem 0 0;
      }
    }

    &.cc-trigger-top {
      top: 1rem;

      &.cc-trigger-left {
        left: 0;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        border-radius: 0 0 .5rem .5rem;
      }

      &.cc-trigger-right {
        right: 0;
        transform: rotate(-90deg) translateY(-100%);
        transform-origin: right top;
        border-radius: .5rem .5rem 0 0;
      }

      &.cc-trigger-center {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 .5rem .5rem;
      }
    }

    &.cc-trigger-middle {
      top: 50%;

      &.cc-trigger-left {
        left: 0;
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left top;
        border-radius: 0 0 .5rem .5rem;
      }

      &.cc-trigger-right {
        right: 0;
        transform: rotate(-90deg) translateX(50%);
        transform-origin: right bottom;
        border-radius: .5rem .5rem 0 0;
      }
    }
  }
}

.n3tcc--loaded .cc-trigger {
  display: block;
}

.show--consent .cc-trigger,
.show--settings .cc-trigger {
  display: none;
}
